@import "variables.scss";
@import "layout.scss";

body{
	background-color: $bg-body;
}

.navbar{
	position: absolute;
	top: 50%;
	left:50%;
	margin-left:$navbar-width/2;
	margin-top:$navbar-height/2;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
	padding: 1em;
	display: inline-flex;

	.navbar-brand{
		font-size:xx-large;
		margin-right: 2em;
		@extend %component;  
	}

	.navbar-nav{
		padding-top: 0.4em;
		font-size:larger;

		.nav-link{
    		padding: 0.3em;
			@extend %component;
		}
	}
}
